
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Popular -->

<div class="popular page_section" style="padding-top:0px; padding-bottom:0px;">
    <div class="container">
        <div class="hero_slider_container" style="height:50vh;">
            <div class="hero_slider owl-carousel">

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url(/Content/images/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style="margin-top:-160px;"><span>Courses</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row course_boxes">

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/course_1.jpg" />
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">C#, ASP.NET MVC</a></div>
                        <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/Content/images/author.jpg" />
                        </div>
                        <div class="course_author_name">Ehtiram Hajikhanov, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/course_2.jpg" />
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">JAVA SE,EE</a></div>
                        <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/Content/images/author.jpg" />
                        </div>
                        <div class="course_author_name">Fuad Pashabeyli, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/course_3.jpg" />
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">WEB Paket</a></div>
                        <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/Content/images/author.jpg" />
                        </div>
                        <div class="course_author_name">Rəhim Rəhimsiz, <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$29</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
