
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero_slider_container" style="height:55vh;">
    <div class="hero_slider owl-carousel">

        <!-- Hero Slide -->
        <div class="hero_slide">
            <div class="hero_slide_background" style="background-image:url(/Content/images/slider_background.jpg)"></div>
            <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                <div class="hero_slide_content text-center">
                    <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style="margin-top:-160px;"><span>Teachers</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Teachers -->

<div class="teachers page_section" style="padding-bottom:0px">
    <div class="container">
        <div class="row">

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="~/Content/images/teacher_3.jpg" />
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Ehtiram Hajikhanov</a></div>
                        <div class="card-text">C# Consultant</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="~/Content/images/teacher_2.jpg" />
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Fuad Pashabeyli</a></div>
                        <div class="card-text">Java Consultant</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-lg-4 teacher">
                <div class="card">
                    <div class="card_img">
                        <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                        <img class="card-img-top trans_200" src="~/Content/images/teacher_6.jpg" alt="https://unsplash.com/photos/n8jeOSxCRfQ">
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title"><a href="#">Kamran Shabanov</a></div>
                        <div class="card-text">Yoga Consultant</div>
                        <div class="teacher_social">
                            <ul class="menu_social">
                                <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


